::selection {
    color: white;
    background: dimgrey;
}

div.content {
    margin: 10% 20%;
}

div.personal {
    margin: 10%;
    align-content: center;
}

p {
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
    text-align: center;
    line-height: 150%;
}

a {
    text-decoration: none;
    font-weight: bold;
    color: black;
    transition: 0.5s;
}

    a:visited {
        text-decoration: none;
        color:black;
    }

    a:hover {
        color: gray;
        transition: 0.5s;
    }

    a.cv:hover {
        text-decoration: underline;
    }

img {
    width: 130px;
    border-radius: 65px;
    margin: 0 30px 0 0;
}

table {
    margin: auto;
    border-spacing: 10px 0;
}

span {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

    span.table2column {
        font-size: 19px;
        font-weight: 600;
    }

    span.table3column {
        font-size: 17px;
        font-weight: 500;
    }